<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Anders Jess Pedersen">
    <title>CoRal | Recording App</title>

    <!-- Front end utils -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'milligram.min.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <!-- Recording utils -->
    <link rel="stylesheet" href="{% static 'video-js.min.css' %}" />
    <link rel="stylesheet" href="{% static 'videojs.wavesurfer.css' %}" />
    <link rel="stylesheet" href="{% static 'videojs.record.min.css' %}">

    <script src="{% static 'video.min.js' %}"></script>
    <script src="{% static 'RecordRTC.min.js' %}"></script>
    <script src="{% static 'adapter-latest.js' %}"></script>
    <script src="{% static 'wavesurfer.min.js' %}"></script>
    <script src="{% static 'wavesurfer.microphone.min.js' %}"></script>
    <script src="{% static 'videojs.wavesurfer.min.js' %}"></script>
    <script src="{% static 'safari-workaround.js' %}"></script>

    <script src="{% static 'videojs.record.min.js' %}"></script>

    <style>
        input[type="checkbox"] {
            width: 16px;
            /*Desired width*/
            height: 16px;
            /*Desired height*/
        }

        /* The Modal (background) */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 9999;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        /* change player background color */
        #myAudio {
            background-color: #fff6ee;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
            display: block
        }
    </style>

</head>

<body>
    <main class="wrapper">
        <nav class="navigation" style="z-index: 999">
            <section class="container">
                <a class="navigation-title" href="#home">
                    <h1 class="title">CoRal</h1>
                </a>
                <ul class="navigation-list float-right">
                    <li class="navigation-item">
                        <a class="navigation-link" href="#info" data-popover>Info</a>
                    </li>
                    <li class="navigation-item">
                        <a class="navigation-link" href="#kontakt" data-popover>Kontakt</a>
                    </li>
                </ul>
            </section>
        </nav>
        <header class="header" id="home">
            <section class="container">
                <h1>
                    CoRal
                </h1>
                <p class="description">
                    CoRal er et projekt, som har til formål at indsamle dansk dialekt data, som kan bruges til at
                    træne forskellige tale AI modeller.
                </p>

                <p><a href="#info"> Læs mere om projektet </a></p>
                <p><a href="#recording"> Start med at bidrage </a></p>
            </section>

        </header>

        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <h1>Legal Requirements</h1>
                <p>
                    For at vi kan indsamle data, så er du nød til at være indforstået med selve indsamlings processen.
                </p>
                <p>
                    <a href="/requirements/">
                        Læs alle gældende vilkår
                    </a>
                </p>
                <p>
                    Vi indsamler data ved hjælp af en browser baseret optager, som optager din stemme, og sender den til
                    vores
                    servere. Vi gemmer følgende data:
                <ul>
                    <form id="metadata_form">
                        <b>Dimensioner af optagelsesrummet (højde,bredde,længde)</b> <input type="text"
                            name="room_dimensions" id="room_dimensions" onkeyup='saveValue(this);' value="Ikke valgt" required> <br>
                        <b>Adresse på optagelsesstedet</b> <input type="text" name="address" id="address" onkeyup='saveValue(this);' value="Ikke valgt"
                            required> <br>
                        <b>Baggrundsstøj (dB)</b> <input type="number" id="background_noise" onkeyup='saveValue(this);' name="background_noise" value="Ikke valgt"
                            required>
                        <br>
                        <label for="noise">Støj type</label>
                        <select name="noise" onkeyup='saveValue(this);' id="noise">
                            <option value="ikke_valgt">Ikke valgt</option>
                            <option value="ingen">Ingen</option>
                            <option value="trafik">Trafik</option>
                            <option value="human">Mennesker</option>
                        </select>
                        <b>Name</b> <input type="text" name="name" id="name" onkeyup='saveValue(this);' value="Ikke valgt" required> <br>
                        <b>Email</b> <input type="email" name="email" id="email" onkeyup='saveValue(this);' value="Ikke valgt" required> <br>
                        <b>Alder</b> <input type="number" name="age" id="number" onkeyup='saveValue(this);' min="0" max="100" required> <br>
                        <label for="gender">Køn</label>
                        <select name="gender" onkeyup='saveValue(this);' id="gender">
                            <option value="ikke_valgt">Ikke valgt</option>
                            <option value="male">Mand (inklusiv trans-mand)</option>
                            <option value="female">Kvinde (inklusiv trans-kvinde)</option>
                            <option value="nonbinary">Non-binær</option>
                        </select>
                        <label for="dialect">Dialekt</label>
                        <select name="dialect" onkeyup='saveValue(this);' id="dialect">
                            <option value="ikke_valgt">Ikke valgt</option>
                            <optgroup label="Sjællandsk">
                                <option value="Sjællandsk">Sjællandsk</option>
                                <option value="Amagermål">Københavnsk</option>
                                <option value="Amagermål">Amagermål</option>
                                <option value="Nordsjællandsk">Nordsjællandsk</option>
                                <option value="Nordvestsjællandsk">Nordvestsjællandsk</option>
                                <option value="Sydvestsjællandsk">Sydvestsjællandsk</option>
                                <option value="Østsjællandsk">Østsjællandsk</option>
                                <option value="Sydsjællandsk (sydligt sydsjællandsk)">Sydsjællandsk (sydligt
                                    sydsjællandsk)
                                </option>
                            </optgroup>
                            <optgroup label="Østjysk">
                                <option value="Østjysk">Østjysk</option>
                                <option value="Vendsysselsk (m. Hanherred og Læsø)">Vendsysselsk (m. Hanherred og Læsø)
                                </option>
                                <option value="Himmerlandsk">Himmerlandsk</option>
                                <option value="Ommersysselsk">Ommersysselsk</option>
                                <option value="Djurslandsk (Nord-, Syddjurs m. Nord- og Sydsamsø, Anholt)">Djurslandsk
                                    (Nord-, Syddjurs m. Nord- og Sydsamsø, Anholt)</option>
                                <option value="Midtøstjysk">Midtøstjysk</option>
                            </optgroup>
                            <optgroup label="Sydømål">
                                <option value="Sydømål">Sydømål</option>
                                <option value="Østmønskvestmønsk">Østmønskvestmønsk</option>
                                <option value="Nordfalstersk">Nordfalstersk</option>
                                <option value="Sydfalstersk">Sydfalstersk</option>
                                <option value="Lollandsk">Lollandsk</option>
                            </optgroup>
                            <optgroup label="Sønderjysk">
                                <option value="Sønderjysk">Sønderjysk</option>
                                <option value="Vestlig sønderjysk (m. Mandø og Rømø)">Vestlig sønderjysk (m. Mandø og
                                    Rømø)
                                </option>
                                <option value="Østligt sønderjysk (m. Als)">Østligt sønderjysk (m. Als)</option>
                                <option value="Mellemslesvisk">Mellemslesvisk</option>
                                <option value="Angelmål">Angelmål</option>
                                <option value="Fjoldemål">Fjoldemål</option>
                            </optgroup>
                            <optgroup label="Fynsk">
                                <option value="Fynsk">Fynsk</option>
                                <option value="Østfynsk">Østfynsk</option>
                                <option value="Vestfynsk (nordvest-, sydvestfynsk)">Vestfynsk (nordvest-, sydvestfynsk)
                                </option>
                                <option value="Sydfynsk">Sydfynsk</option>
                                <option value="Langelandsk">Langelandsk</option>
                                <option value="Tåsingsk (m. Thurø)">Tåsingsk (m. Thurø)</option>
                                <option value="Ærøsk (m. Lyø, Avernakø, Strynø, Birkholm, Drejø)">Ærøsk (m. Lyø,
                                    Avernakø,
                                    Strynø, Birkholm, Drejø)</option>
                            </optgroup>
                            <optgroup label="Vestjysk">
                                <option value="Vestjysk">Vestjysk</option>
                                <option value="Thybomål">Thybomål</option>
                                <option value="Morsingmål">Morsingmål</option>
                                <option value="Sallingmål">Sallingmål</option>
                                <option value="Hardsysselsk">Hardsysselsk</option>
                                <option value="Fjandbomål">Fjandbomål</option>
                                <option value="Sydvestjysk (m. Fanø)">Sydvestjysk (m. Fanø)</option>
                                <option value="Sydøstjysk">Sydøstjysk</option>
                            </optgroup>
                            <optgroup label="Nørrejysk">
                                <option value="Nørrejysk">Nørrejysk</option>
                                <option value="Vestjysk">Vestjysk</option>
                                <option value="Østjysk">Østjysk</option>
                            </optgroup>
                            <optgroup label="Bornholmsk">
                                <option value="Bornholmsk">Bornholmsk</option>
                            </optgroup>
                        </select>
                        <label for="Modersmål">Modersmål</label>
                        <select name="accent" onkeyup='saveValue(this);' id="accent">
                            <option value="Afrikaans">Afrikaans</option>
                            <option value="Albansk">Albansk</option>
                            <option value="Arabisk">Arabisk</option>
                            <option value="Aragonisk">Aragonisk</option>
                            <option value="Armensk">Armensk</option>
                            <option value="Aromunsk">Aromunsk</option>
                            <option value="Artjinsk">Artjinsk</option>
                            <option value="Aserbajdsjansk">Aserbajdsjansk</option>
                            <option value="Asturiansk">Asturiansk</option>
                            <option value="Balinesisk">Balinesisk</option>
                            <option value="Basjkirsk">Basjkirsk</option>
                            <option value="Baskisk">Baskisk</option>
                            <option value="Bosnisk">Bosnisk</option>
                            <option value="Bretonsk">Bretonsk</option>
                            <option value="Buginesisk">Buginesisk</option>
                            <option value="Bulgarsk">Bulgarsk</option>
                            <option value="Burjatisk">Burjatisk</option>
                            <option value="Catalansk">Catalansk</option>
                            <option value="Cebuano">Cebuano</option>
                            <option value="Dalmatisk">Dalmatisk</option>
                            <option value="Dansk">Dansk</option>
                            <option value="Engelsk">Engelsk</option>
                            <option value="Esperanto">Esperanto</option>
                            <option value="Estisk">Estisk</option>
                            <option value="Fad'Ambu">Fad'Ambu</option>
                            <option value="Fijiansk">Fijiansk</option>
                            <option value="Filippinsk">Filippinsk</option>
                            <option value="Finsk">Finsk</option>
                            <option value="Frankisk">Frankisk</option>
                            <option value="Fransk">Fransk</option>
                            <option value="Frisisk">Frisisk</option>
                            <option value="Friulisk">Friulisk</option>
                            <option value="Færøsk">Færøsk</option>
                            <option value="Galicisk">Galicisk</option>
                            <option value="Gammeldansk">Gammeldansk</option>
                            <option value="Georgisk">Georgisk</option>
                            <option value="Gotisk">Gotisk</option>
                            <option value="Græsk">Græsk</option>
                            <option value="Grønlandsk">Grønlandsk</option>
                            <option value="Guarani">Guarani</option>
                            <option value="Gujarati">Gujarati</option>
                            <option value="Haitiansk(kreol)">Haitiansk(kreol)</option>
                            <option value="Hawaiiansk">Hawaiiansk</option>
                            <option value="Hebræisk">Hebræisk</option>
                            <option value="Hindi">Hindi</option>
                            <option value="Hviderussisk">Hviderussisk</option>
                            <option value="Ido">Ido</option>
                            <option value="Indonesisk">Indonesisk</option>
                            <option value="Interlingua">Interlingua</option>
                            <option value="Irsk">Irsk</option>
                            <option value="Islandsk">Islandsk</option>
                            <option value="Italiensk">Italiensk</option>
                            <option value="Jakutisk">Jakutisk</option>
                            <option value="Japansk">Japansk</option>
                            <option value="Javanesisk">Javanesisk</option>
                            <option value="Jèrriais">Jèrriais</option>
                            <option value="Kabylsk">Kabylsk</option>
                            <option value="Kalmykisk">Kalmykisk</option>
                            <option value="Kasakhisk">Kasakhisk</option>
                            <option value="Kasjubisk">Kasjubisk</option>
                            <option value="Khmer">Khmer</option>
                            <option value="Kinesisk">Kinesisk</option>
                            <option value="Kirgisisk">Kirgisisk</option>
                            <option value="Klassisknahuatl">Klassisknahuatl</option>
                            <option value="Koreansk">Koreansk</option>
                            <option value="Korsikansk">Korsikansk</option>
                            <option value="Krim-Tatarisk">Krim-Tatarisk</option>
                            <option value="Kroatisk">Kroatisk</option>
                            <option value="Kumyk">Kumyk</option>
                            <option value="Kurdisk">Kurdisk</option>
                            <option value="Laotisk">Laotisk</option>
                            <option value="Latin">Latin</option>
                            <option value="Lettisk">Lettisk</option>
                            <option value="Limburgsk">Limburgsk</option>
                            <option value="Litauisk">Litauisk</option>
                            <option value="Lojban">Lojban</option>
                            <option value="Lusitansk">Lusitansk</option>
                            <option value="Luxembourgsk">Luxembourgsk</option>
                            <option value="Maduresisk">Maduresisk</option>
                            <option value="Makassarisk">Makassarisk</option>
                            <option value="Makedonsk">Makedonsk</option>
                            <option value="Malagassisk">Malagassisk</option>
                            <option value="Malajisk">Malajisk</option>
                            <option value="Malayalam">Malayalam</option>
                            <option value="Maltesisk">Maltesisk</option>
                            <option value="Mansk">Mansk</option>
                            <option value="Maori">Maori</option>
                            <option value="Maquiritari">Maquiritari</option>
                            <option value="Marshallesisk">Marshallesisk</option>
                            <option value="Meriam">Meriam</option>
                            <option value="Middelalderfransk">Middelalderfransk</option>
                            <option value="Middelengelsk">Middelengelsk</option>
                            <option value="Middelhøjtysk">Middelhøjtysk</option>
                            <option value="Middelnederlandsk">Middelnederlandsk</option>
                            <option value="Middelnedertysk">Middelnedertysk</option>
                            <option value="MinNan">MinNan</option>
                            <option value="Mongolsk">Mongolsk</option>
                            <option value="Morisyen">Morisyen</option>
                            <option value="Navajo">Navajo</option>
                            <option value="Nederlandsk">Nederlandsk</option>
                            <option value="Nedresorbisk">Nedresorbisk</option>
                            <option value="Nordfrisisk">Nordfrisisk</option>
                            <option value="Nordsamisk">Nordsamisk</option>
                            <option value="Norsk">Norsk</option>
                            <option value="Norskbokmål">Norskbokmål</option>
                            <option value="Nydansk">Nydansk</option>
                            <option value="Nynorsk">Nynorsk</option>
                            <option value="O'odham">O'odham</option>
                            <option value="Occitansk">Occitansk</option>
                            <option value="Oldarmensk">Oldarmensk</option>
                            <option value="Oldengelsk">Oldengelsk</option>
                            <option value="Oldfransk">Oldfransk</option>
                            <option value="Oldfrisisk">Oldfrisisk</option>
                            <option value="Oldgræsk">Oldgræsk</option>
                            <option value="Oldhøjtysk">Oldhøjtysk</option>
                            <option value="Oldkirkeslavisk">Oldkirkeslavisk</option>
                            <option value="Oldnederlandsk">Oldnederlandsk</option>
                            <option value="Oldnordisk">Oldnordisk</option>
                            <option value="Oldportugisisk">Oldportugisisk</option>
                            <option value="Oldsaksisk">Oldsaksisk</option>
                            <option value="Oldsvensk">Oldsvensk</option>
                            <option value="Oldtyrkisk">Oldtyrkisk</option>
                            <option value="Ossetisk">Ossetisk</option>
                            <option value="Pashto">Pashto</option>
                            <option value="Persisk">Persisk</option>
                            <option value="Piemontesisk">Piemontesisk</option>
                            <option value="Plattysk">Plattysk</option>
                            <option value="Polabisk">Polabisk</option>
                            <option value="Polsk">Polsk</option>
                            <option value="Portugisisk">Portugisisk</option>
                            <option value="Protoslavisk">Protoslavisk</option>
                            <option value="Quechua">Quechua</option>
                            <option value="Rapanui">Rapanui</option>
                            <option value="Rumænsk">Rumænsk</option>
                            <option value="Russisk">Russisk</option>
                            <option value="Rætoromansk">Rætoromansk</option>
                            <option value="Sanskrit">Sanskrit</option>
                            <option value="Sardisk">Sardisk</option>
                            <option value="Saterfrisisk">Saterfrisisk</option>
                            <option value="Serbisk">Serbisk</option>
                            <option value="Serbokroatisk">Serbokroatisk</option>
                            <option value="Siciliansk">Siciliansk</option>
                            <option value="Skotsk">Skotsk</option>
                            <option value="Skotskgælisk">Skotskgælisk</option>
                            <option value="Slovakisk">Slovakisk</option>
                            <option value="Slovensk">Slovensk</option>
                            <option value="Slovincinsk">Slovincinsk</option>
                            <option value="Somalisk">Somalisk</option>
                            <option value="Spansk">Spansk</option>
                            <option value="Svensk">Svensk</option>
                            <option value="Swahili">Swahili</option>
                            <option value="Syrisk">Syrisk</option>
                            <option value="Tadsjikisk">Tadsjikisk</option>
                            <option value="Tagalog">Tagalog</option>
                            <option value="Taino">Taino</option>
                            <option value="Tamilsk">Tamilsk</option>
                            <option value="Tatarisk">Tatarisk</option>
                            <option value="Thailandsk">Thailandsk</option>
                            <option value="Tjekkisk">Tjekkisk</option>
                            <option value="Tjetjensk">Tjetjensk</option>
                            <option value="Tjuvasjisk">Tjuvasjisk</option>
                            <option value="Twiisk">Twiisk</option>
                            <option value="Tyrkisk">Tyrkisk</option>
                            <option value="Tysk">Tysk</option>
                            <option value="Ukrainsk">Ukrainsk</option>
                            <option value="Ungarsk">Ungarsk</option>
                            <option value="Uraustronesisk">Uraustronesisk</option>
                            <option value="Urdu">Urdu</option>
                            <option value="Urgermansk">Urgermansk</option>
                            <option value="Urindoeuropæisk">Urindoeuropæisk</option>
                            <option value="Urnordisk">Urnordisk</option>
                            <option value="Usbekisk">Usbekisk</option>
                            <option value="Vallonsk">Vallonsk</option>
                            <option value="Venetiansk">Venetiansk</option>
                            <option value="Vestflamsk">Vestflamsk</option>
                            <option value="Vestfrisisk">Vestfrisisk</option>
                            <option value="Vietnamesisk">Vietnamesisk</option>
                            <option value="Vimisørisk">Vimisørisk</option>
                            <option value="Volapyk">Volapyk</option>
                            <option value="Walisisk">Walisisk</option>
                            <option value="Zazaki">Zazaki</option>
                            <option value="Øvresorbisk">Øvresorbisk</option>
                        </select>
                        <br>
                        <b>Hvilke sprog taler du</b> <input type="text" id="languages" onkeyup='saveValue(this);' name="languages" required>
                        <br>
                        <b>Postnummer (hvor har du gået i folkeskole)</b> <input type="text" onkeyup='saveValue(this);' id="zipcode_school" name="zipcode_school"
                            value="Ikke gået i folkeskole i Danmark" required> <br>
                        <b>Postnummer (hvor du er vokset op)</b> <input type="text" name="zipcode_birth" id="zipcode_birth" onkeyup='saveValue(this);'
                            value="Ikke født i Danmark" required> <br>
                        <label for="birth_place">Fødselssted</label>
                        <select name="birth_place" onkeyup='saveValue(this);' id="birth_place">
                            <option value="Ikke valgt">Ikke valgt</option>
                            <option value="Afghanistan">Afghanistan</option>
                            <option value="Albania">Albania</option>
                            <option value="Algeria">Algeria</option>
                            <option value="Andorra">Andorra</option>
                            <option value="Angola">Angola</option>
                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Armenia">Armenia</option>
                            <option value="Australia">Australia</option>
                            <option value="Austria">Austria</option>
                            <option value="Azerbaijan">Azerbaijan</option>
                            <option value="The Bahamas">The Bahamas</option>
                            <option value="Bahrain">Bahrain</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Barbados">Barbados</option>
                            <option value="Belarus">Belarus</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Belize">Belize</option>
                            <option value="Benin">Benin</option>
                            <option value="Bhutan">Bhutan</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                            <option value="Botswana">Botswana</option>
                            <option value="Brazil">Brazil</option>
                            <option value="Brunei">Brunei</option>
                            <option value="Bulgaria">Bulgaria</option>
                            <option value="Burkina Faso">Burkina Faso</option>
                            <option value="Burundi">Burundi</option>
                            <option value="Cabo Verde">Cabo Verde</option>
                            <option value="Cambodia">Cambodia</option>
                            <option value="Cameroon">Cameroon</option>
                            <option value="Canada">Canada</option>
                            <option value="Central African Republic">Central African Republic</option>
                            <option value="Chad">Chad</option>
                            <option value="Chile">Chile</option>
                            <option value="China">China</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Comoros">Comoros</option>
                            <option value="Congo, Democratic Republic of the">Congo, Democratic Republic of the</option>
                            <option value="Congo, Republic of the">Congo, Republic of the</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Côte d’Ivoire">Côte d’Ivoire</option>
                            <option value="Croatia">Croatia</option>
                            <option value="Cuba">Cuba</option>
                            <option value="Cyprus">Cyprus</option>
                            <option value="Czech Republic">Czech Republic</option>
                            <option value="Danmark">Danmark</option>
                            <option value="Djibouti">Djibouti</option>
                            <option value="Dominica">Dominica</option>
                            <option value="Dominican Republic">Dominican Republic</option>
                            <option value="East Timor (Timor-Leste)">East Timor (Timor-Leste)</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Egypt">Egypt</option>
                            <option value="El Salvador">El Salvador</option>
                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                            <option value="Eritrea">Eritrea</option>
                            <option value="Estonia">Estonia</option>
                            <option value="Eswatini">Eswatini</option>
                            <option value="Ethiopia">Ethiopia</option>
                            <option value="Fiji">Fiji</option>
                            <option value="Finland">Finland</option>
                            <option value="France">France</option>
                            <option value="Færøerne">Færøerne</option>
                            <option value="Gabon">Gabon</option>
                            <option value="The Gambia">The Gambia</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Germany">Germany</option>
                            <option value="Ghana">Ghana</option>
                            <option value="Greece">Greece</option>
                            <option value="Grenada">Grenada</option>
                            <option value="Grønland">Grønland</option>
                            <option value="Guatemala">Guatemala</option>
                            <option value="Guinea">Guinea</option>
                            <option value="Guinea-Bissau">Guinea-Bissau</option>
                            <option value="Guyana">Guyana</option>
                            <option value="Haiti">Haiti</option>
                            <option value="Honduras">Honduras</option>
                            <option value="Hungary">Hungary</option>
                            <option value="Iceland">Iceland</option>
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Iran">Iran</option>
                            <option value="Iraq">Iraq</option>
                            <option value="Ireland">Ireland</option>
                            <option value="Israel">Israel</option>
                            <option value="Italy">Italy</option>
                            <option value="Jamaica">Jamaica</option>
                            <option value="Japan">Japan</option>
                            <option value="Jordan">Jordan</option>
                            <option value="Kazakhstan">Kazakhstan</option>
                            <option value="Kenya">Kenya</option>
                            <option value="Kiribati">Kiribati</option>
                            <option value="Korea, North">Korea, North</option>
                            <option value="Korea, South">Korea, South</option>
                            <option value="Kosovo">Kosovo</option>
                            <option value="Kuwait">Kuwait</option>
                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                            <option value="Laos">Laos</option>
                            <option value="Latvia">Latvia</option>
                            <option value="Lebanon">Lebanon</option>
                            <option value="Lesotho">Lesotho</option>
                            <option value="Liberia">Liberia</option>
                            <option value="Libya">Libya</option>
                            <option value="Liechtenstein">Liechtenstein</option>
                            <option value="Lithuania">Lithuania</option>
                            <option value="Luxembourg">Luxembourg</option>
                            <option value="Madagascar">Madagascar</option>
                            <option value="Malawi">Malawi</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="Maldives">Maldives</option>
                            <option value="Mali">Mali</option>
                            <option value="Malta">Malta</option>
                            <option value="Marshall Islands">Marshall Islands</option>
                            <option value="Mauritania">Mauritania</option>
                            <option value="Mauritius">Mauritius</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                            <option value="Moldova">Moldova</option>
                            <option value="Monaco">Monaco</option>
                            <option value="Mongolia">Mongolia</option>
                            <option value="Montenegro">Montenegro</option>
                            <option value="Morocco">Morocco</option>
                            <option value="Mozambique">Mozambique</option>
                            <option value="Myanmar (Burma)">Myanmar (Burma)</option>
                            <option value="Namibia">Namibia</option>
                            <option value="Nauru">Nauru</option>
                            <option value="Nepal">Nepal</option>
                            <option value="Netherlands">Netherlands</option>
                            <option value="New Zealand">New Zealand</option>
                            <option value="Nicaragua">Nicaragua</option>
                            <option value="Niger">Niger</option>
                            <option value="Nigeria">Nigeria</option>
                            <option value="North Macedonia">North Macedonia</option>
                            <option value="Norway">Norway</option>
                            <option value="Oman">Oman</option>
                            <option value="Pakistan">Pakistan</option>
                            <option value="Palau">Palau</option>
                            <option value="Panama">Panama</option>
                            <option value="Papua New Guinea">Papua New Guinea</option>
                            <option value="Paraguay">Paraguay</option>
                            <option value="Peru">Peru</option>
                            <option value="Philippines">Philippines</option>
                            <option value="Poland">Poland</option>
                            <option value="Portugal">Portugal</option>
                            <option value="Qatar">Qatar</option>
                            <option value="Romania">Romania</option>
                            <option value="Russia">Russia</option>
                            <option value="Rwanda">Rwanda</option>
                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                            <option value="Saint Lucia">Saint Lucia</option>
                            <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                            <option value="Samoa">Samoa</option>
                            <option value="San Marino">San Marino</option>
                            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                            <option value="Saudi Arabia">Saudi Arabia</option>
                            <option value="Senegal">Senegal</option>
                            <option value="Serbia">Serbia</option>
                            <option value="Seychelles">Seychelles</option>
                            <option value="Sierra Leone">Sierra Leone</option>
                            <option value="Singapore">Singapore</option>
                            <option value="Slovakia">Slovakia</option>
                            <option value="Slovenia">Slovenia</option>
                            <option value="Solomon Islands">Solomon Islands</option>
                            <option value="Somalia">Somalia</option>
                            <option value="South Africa">South Africa</option>
                            <option value="Spain">Spain</option>
                            <option value="Sri Lanka">Sri Lanka</option>
                            <option value="Sudan">Sudan</option>
                            <option value="Sudan, South">Sudan, South</option>
                            <option value="Suriname">Suriname</option>
                            <option value="Sweden">Sweden</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="Syria">Syria</option>
                            <option value="Taiwan">Taiwan</option>
                            <option value="Tajikistan">Tajikistan</option>
                            <option value="Tanzania">Tanzania</option>
                            <option value="Thailand">Thailand</option>
                            <option value="Togo">Togo</option>
                            <option value="Tonga">Tonga</option>
                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                            <option value="Tunisia">Tunisia</option>
                            <option value="Turkey">Turkey</option>
                            <option value="Turkmenistan">Turkmenistan</option>
                            <option value="Tuvalu">Tuvalu</option>
                            <option value="Uganda">Uganda</option>
                            <option value="Ukraine">Ukraine</option>
                            <option value="United Arab Emirates">United Arab Emirates</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="United States">United States</option>
                            <option value="Uruguay">Uruguay</option>
                            <option value="Uzbekistan">Uzbekistan</option>
                            <option value="Vanuatu">Vanuatu</option>
                            <option value="Vatican City">Vatican City</option>
                            <option value="Venezuela">Venezuela</option>
                            <option value="Vietnam">Vietnam</option>
                            <option value="Yemen">Yemen</option>
                            <option value="Zambia">Zambia</option>
                            <option value="Zimbabwe">Zimbabwe</option>
                        </select>
                        <label for="education">Uddannelsesniveau</label>
                        <select name="education" onkeyup='saveValue(this);' id="education">
                            <option value="ikke_valgt">Ikke valgt</option>
                            <option value="grundskole">Grundskole</option>
                            <option value="gymnasiel_uddannelse">Gymnasiele Uddannelse</option>
                            <option value="erhvervsfaglig_uddannelse">Erhvervsfaglig Udannelse</option>
                            <option value="adgangsgivende_uddannelsesforløb">Adgangsgivende Uddannelsesforløb</option>
                            <option value="kort_videregående_uddannelse">Kort Videregående Uddannelse</option>
                            <option value="mellemlang_videregående_uddannelse">Mellemlang Videregående Uddannelse
                            </option>
                            <option value="lang_videregående_uddannelse">Lang Videregående Uddannelse</option>
                            <option value="bachelor_uddannelse">Bachelor Uddannelse</option>
                            <option value="phd_og_forskeruddannelse">Ph.d. og forskeruddannelse</option>
                        </select>
                        Beskæftigelse <input type="text" name="occupation" onkeyup='saveValue(this);' id="occupation" value="Ikke valgt" required> <br>

                    </form>
                </ul>
                </p>
                <p> <input type="checkbox" id="accept" value="accepted"> Jeg er fuldt ud indforstået med <a
                        href="/requirements/">alle gældende vilkår</a>.</p>

                <button onclick="resetpage()">Submit</button>
            </div>

        </div>
        <section class="container" id="recording">
            <h1>
                Data indsamling
            </h1>
            <p id="tekst-beskrivelse">
                Optag nedenstående sætning. Når du er tilfreds med din optagelse, så trykker du på "send optagelse"
                knappen. Du kan bruge genvejsknapperne til at styre optagelsen, "R" for at starte og stoppe optagelse, og "S" for at indsende optagelsen.
            </p>
            <blockquote>
                <p>
                    <h1 id="transcription" class="center">

                    </h1>
                </p>
            </blockquote>



            <div><audio id="safariAudio" controls autoplay playsinline></audio></div>

            <audio id="myAudio" class="video-js vjs-default-skin center"></audio>
            </br>
            <button id="record-button" class="button">Ny optagelse</button>
            <input id="submitAudio" class="button" type="submit" value="Send optagelse">

        </section>

        <section class="container" id="info">
            <h1 class="">
                Information om projekt
            </h1>
            <p>
                Alexandra Instituttet er sammen med Københavns Universitet, Digitaliseringsstyrelsen og virksomhederne Corti og Alvenir i gang med et projekt, hvor visionen er at skabe grundlag for, at dansk sprogteknologi (kunstig intelligens) kan komme op blandt de førende lande i Europa inden for taleteknologi. <br> <br> Projektet hedder “Danish Conversational and Read-aloud Speech Dataset” og forkortes “CoRal”. <br><br>
                Målet er at producere 1000–1500 timers taledata fordelt på to taletyper: samtale og oplæsning, der indeholder en bred repræ-sentation af danske dialekter og talestile. <br>
            </p>

        </section>
        <section class="container" id="kontakt">
            <h1 class="">
                Kontakt
            </h1>
            <p>
                Er du interesseret i at høre mere om projektet? Eller har du spørgsmål til indsamlingen af data? Så kan
                du kontakte os på en af følgende emails.
            </p>
            <p>
                <i>Anders Jess Pedersen</i> </br> <a
                    href="mailto: anders.j.pedersen@alexandra.dk">anders.j.pedersen@alexandra.dk</a>
            </p>
            <p>
                <i>Dan Saatrup Nielsen</i> </br> <a href="mailto: dan.nielsen@alexandra.dk">dan.nielsen@alexandra.dk</a>
            </p>
            <div class="row">
                <div class="column">
                    <p>

                    </p>
                    <p>

                    </p>
                </div>
                <div class="column"></div>
                <div class="column"></div>

            </div>
        </section>

    </main>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

    <script>
        {% include 'coral.js' %}
    </script>
    <script>
        document.onkeyup = function(e) {
          if (e.which == 82) {
            /* When the button is clicked use the record function from coral.js */
            if (accepted_legal) {
                record();
            } 
          } else if (e.which == 83) {
            /* When the button is clicked use the stop function from coral.js */
            if (!accepted_legal) {
                modal.style.display = "block";
            } else {
                submitRecording();
            }
          }
        };
    </script>
    <script type="text/javascript">
        document.getElementById("room_dimensions").value = getSavedValue("room_dimensions");
        document.getElementById("background_noise").value = getSavedValue("background_noise")
        document.getElementById("noise").value = getSavedValue("noise")
        document.getElementById("address").value = getSavedValue("address")
        document.getElementById("name").value = getSavedValue("name")
        document.getElementById("email").value = getSavedValue("email")
        document.getElementById("number").value = getSavedValue("number")
        document.getElementById("gender").value = getSavedValue("gender")
        document.getElementById("dialect").value = getSavedValue("dialect")
        document.getElementById("accent").value = getSavedValue("accent")
        document.getElementById("languages").value = getSavedValue("languages")
        document.getElementById("zipcode_school").value = getSavedValue("zipcode_school")
        document.getElementById("zipcode_birth").value = getSavedValue("zipcode_birth")
        document.getElementById("birth_place").value = getSavedValue("birth_place")
        document.getElementById("education").value = getSavedValue("education")
        document.getElementById("occupation").value = getSavedValue("occupation")
        /* Here you can add more inputs to set value. if it's saved */

        //Save the value function - save it to localStorage as (ID, VALUE)
        function saveValue(e){
            var id = e.id;  // get the sender's id to save it . 
            var val = e.value; // get the value. 
            localStorage.setItem(id, val);// Every time user writing something, the localStorage's value will override . 
        }

        //get the saved value function - return the value of "v" from localStorage. 
        function getSavedValue  (v){
            if (!localStorage.getItem(v)) {
                return "";// You can change this to your defualt value. 
            }
            return localStorage.getItem(v);
        }
</script>
</body>

</html>